.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
h1,h2{
    text-align: center;
}
.grid-childone{
    border: solid 4px;
    border-color: black;
    padding-left: 30px;
    background-color: white;
}
.gird-childtwo{
    border: solid 4px;
    border-color: black;
    padding-left: 30px;
    background-color: white;
    
}
body{
    background-color: gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.grid-childthree{
    border: solid 4px;
    border-color: black;
    padding-left: 30px;
    background-color: white;
    
}